
/* * { padding: 0;
    margin: 0; 
} */

canvas { display: block; margin: auto; }


body, html {
    background-color: #0a4e64;
}

.heading > h1 {
    font-family: serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

.game-over-text, .heading {
    color: #fff;
    text-align: center;
}

.options > button {
    min-width: 150px;
}

td.cell {
    color: white;
    width: 45px;
    border: 1px solid #999;
    text-align: center;
    height: 45px;
}

table {
    border: 2px solid #fff;
    margin: 40px;
}

td.lbb {
    border-left: 2px solid #fff;
}

td.tbb {
    border-top: 2px solid #fff;
}

td.text-green {
    color: #00c1ff;
    font-weight: bold;
}